*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial;
	background-color: #fff;
}
#content{
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 1250px;
}
header{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 40px;
}
#content-menu{
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 1250px;
	position: absolute;
}
.menu{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;	
}
ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:0.9em;
	line-height:32px;
	padding:0 30px;
}
ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
 /*fondobtn1*/
ul li:hover{
	border-radius: 45px;
	/*background:#f6f6f6;*/
	background-color: #E3E3E3;
}
ul ul
{
	display:none;
	position:absolute;
	top:32px;
	left:0;
	padding:0;
	border-radius: 18px;
	background:rgba(0,0,0,0.7);
}
ul ul li
{
	float:none;
	width:130px;
}
ul ul a
{
	line-height:120%;
	padding:10px 15px;
	margin-left: 20px;
	color: #fff;
}
ul ul a:hover{
	color: #000;
}
ul li:hover > ul
{
	display:block;
}
/*fondobtn2*/
ul ul li:hover{
	background-color: #C9C9C9;
}
.menu-movil, .menu-content-movil{
		display: none;
	}
/* fin menu*/
.search{
	width: 200px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: -9px;
}
/* aqui inicia search */
#search-form input[type=text] {
    width: 200px;
    border-radius: 25px;
    font-size: 1em;
    background-color: #F6F6F6;
    padding: 8px 20px 8px 40px;
    margin-top: -4px;
}
.search-icon{
	position: absolute;
	margin-top: 7px;
	margin-left: 13px;
	color: #33333E;
}
/* aqui termina search*/
input[type="search"]{
  background-color: transparent;
  border: none;
  width: 140px;
  color: #757575;
}
h1{
	padding-left: 70px;
	padding-bottom: 30px;
}
hr{
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
#banner{
	text-align: center;
	background-color: #E3E3E3;
	width: 100%;
    height: auto;
    object-fit: cover;
}
.banner-movil{
	display: none;
}
.bannerImages{
	object-fit: cover;
}
/*.bloque{
	height: 10px;
	width: 100%;
	background-color: #D5D6C8;
	display: block;
	background-color: red;
}*/
.section-boxes{
	text-align: center;
	background-color: #E3E3E3;
	top: -10px;
	padding-bottom: 70px;
	height: auto;
	width: 100%;
	padding-top: 50px;
	/*margin-top: 300px;*/

}
.box-txt1, .box-txt2, .box-txt3{
	width: 31%;
	display: inline-block;
	padding: 40px;
	border: 1px solid;
	margin-right: 10px;
	margin-left: 10px;
	text-align: justify;
	line-height: 25px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #fff;
	border-color: #fff;
	color: #526981;
}
.section-form{
	padding-top: 90px;
	padding-bottom: 90px;
}
.form{
	width: 550px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
}
input[type="text"], input[type="password"], input[type="email"], input[type="submit"], #textarea{
  display: block;
  width: 100%;
  border:none;
  border-radius: 15px;
  font-size: 1.5em;
  margin-top: 10px;
  background-color: #D7D7D7;
  padding: 14px 20px 14px 60px;
  font-size: 1.1em;
  color: #757575;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #B2B2B2;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #B2B2B2;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B2B2B2;
}
#textarea{
  display: block;
  width: 100%;
  height: 150px;
  border:none;
  border-radius: 15px;
  font-size: 1.5em;
  margin-top: 10px;
  background-color: #D7D7D7;
  padding: 10px 20px 10px 30px;
  font-size: 1.2em;
  resize: none;
}
button{
  display: block;
  width: 100%;
  border:none;
  border-radius: 15px;
  font-size: 1.5em;
  margin-top: 10px;
  background-color: #51A6D1;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .3s, color .3s;
}
button:hover{
  background-color: #1B70F0;
  color: #0E0E0E;
}
.form a i{
	position: absolute;
	background-color: #B5B5B5;
	margin-top: 10px;
	padding: 16px;
	border-radius: 15px 0px 0px 15px;
	color:#fff;
	width: 40px;
	text-align: center;

}
@media (max-width: 1074px){
	#content{
	max-width: 90%;
}
.box-txt1, .box-txt2, .box-txt3{
	width: 30%;
}
}
@media (max-width: 1024px){
	ul a{
		padding:0 17px;
	}
	ul ul a{
		padding:10px 10px;
	}
	.callbacks_nav {
  margin-top: 70px;
  }
	}
@media (max-width: 882px){
	.section-boxes{
	padding-top: 30px;
}
.menu-left{
		display: none;
	}
.menu-movil{
		display: inline-block;
		margin-top: -18px;
	}
.menu-btn-movil{
	cursor: pointer;
}
.menu-icono{
		font-size: 2em;
	}
header{
		padding-bottom: 14px;
	}
.menu-content-movil{
		width: 150px;
		height: auto;
		background-color: 000;
		background:rgba(0,0,0,0.7);
		position: absolute;
		border-radius: 18px;
	}
.menu{
		position: relative;
		padding-left: 0px;
   		padding-right: 0px;
	}
ul{
	float:none;
	}
ul a{
	color:#fff;
	width: 150px;
	}
ul a:hover{
	color:#000;
	width: 150px;
	}

ul li:hover{
	border-radius: 15px;
	background-color: #CFCFCF;
	}
ul ul{
	top:0px;
	left:140px;
	border-radius: 18px;
	background:rgba(0,0,0,0,3);
	}
#wrapper{
		display: none;
	}
#banner{
	width: 100%;
	height: 200px;
	background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	}
.banner-movil{
	display: block;
}
.box-txt1, .box-txt2, .box-txt3{
	width: 48%;
	display: inline-block;
	padding: 30px 25px;
	border: 1px solid;
	margin-right: 5px;
	margin-left: 5px;
	text-align: justify;
	line-height: 25px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #fff;
	border-color: #fff;
	color: #526981;
}
.box-txt3{
	width: 98%;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}
}
@media (max-width: 694px){
	.box-txt1, .box-txt2{
	width: 98%;
	display: block;
	margin: 0 auto;
}
	.box-txt2{
	width: 98%;
	display: block;
	margin-top: 15px;
}
}
@media (max-width: 658px){
	.form{
	width: 98%;
	padding-top: 20px;
}
h1{
	text-align: center;
	padding-left: 0px;
}
.section-form{
	padding-top: 50px;
}
}